.header {
  background-color: var(--primary-color);
  width: auto;
  height: 80px;
  border: none;
  padding: 1%;
  border-radius: 0 0 7px 7px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 8px solid #FDDF19;
  flex-direction: row;
}

.logo {
  width: 60px;
  height: 60px;
  border-radius: 20px;
  margin-left: 10px;
}

.logo:hover {
  transition: 0.5s;
  transform: scale(1.1);
}

.login-button {
  background-color: #044FA1;
  border: 1rem;
  padding-right: 2rem;
}

.login-icon:hover {
  transition: 0.5s;
  transform: scale(1.3);
}

.login-icon {
  width: 30px;
  height: 30px;
}

